@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@layer base {
    html {
      font-family: 'Open Sans', sans-serif ;
    }
  }

  
  .fontbase{
    font-family: 'Cormorant Upright', serif;
  }
  
 

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }


.dscontainer {
    @apply max-w-[1535px] px-3 md:px-10 w-full 
}





@layer utilities{
  @variants after{
    .ds_transition{
      box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px !important;
      transform-origin: 50% 0% !important;
      background: #ffffff !important;
      content: "" !important;
      left: 0px !important;
      position: absolute !important;
      top: 0px !important;
      width: 100% !important;
      z-index: 0 !important;
      height: 100% !important;
      opacity: 0 ;
      transform: scaleY(2.5) ;
      transition: -ms-transform 250ms ease 0s, -webkit-transform 250ms ease 0s, transform 250ms ease 0s, opacity 250ms ease 0s !important;
    }
    
    .ds_scrollTransition {
      box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px !important;
      transform-origin: 50% 0% !important;
      background: #ffffff !important;
      content: "" !important;
      left: 0px !important;
      position: absolute !important;
      top: 0px !important;
      width: 100% !important;
      z-index: 0 !important;
      height: 100% !important;
      transform: initial ;
      transition: -ms-transform 250ms ease 0s, -webkit-transform 250ms ease 0s, transform 250ms ease 0s, opacity 250ms ease 0s !important;
      opacity: 1;
    }
  }
}

.glass{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }