@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@layer base {
    html {
      font-family: 'Open Sans', sans-serif ;
    }
  }
  
  .fontbase{
    font-family: 'Cormorant Upright', serif;
  }
  

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* scroll-behavior: smooth; */
  }
  body{
  @apply !w-full sm:!overflow-auto

  }


.dscontainer {
    @apply max-w-[1535px] px-3 md:px-10 w-full md:w-11/12 mx-auto 
}

@layer utilities{
    .ds_transition{
      box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px !important;
      transform-origin: 50% 0% !important;
      background: #ffffff;
      content: "" !important;
      left: 0px !important;
      position: absolute !important;
      top: 0px !important;
      width: 100% !important;
      z-index: 0 !important;
      height: 100% !important;
      opacity: 0 ;
      transform: scaleY(2.25) ;
      transition: -ms-transform 250ms ease 0s, -webkit-transform 250ms ease 0s, transform 250ms ease 0s, opacity 250ms ease 0s ;
    }
    
    .ds_scrollTransition {
      box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px !important;
      transform-origin: 50% 0% !important;
      background: #ffffff;
      content: "" !important;
      left: 0px !important;
      position: absolute !important;
      top: 0px !important;
      width: 100% !important;
      z-index: 0 !important;
      height: 100% !important;
      transform: initial ;
      transition: -ms-transform 250ms ease 0s, -webkit-transform 250ms ease 0s, transform 250ms ease 0s, opacity 0ms ease 0s ;
      opacity: 1;
    }
    .ds_header_before{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)) !important;
    content: "" !important;
    height: 140% !important;
    left: 0px !important;
    opacity: 0.4 !important;
    pointer-events: none !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
    z-index: 0 !important;
    transition: opacity 150ms ease 0s !important;
    }
    .animation-typewriter {
      animation: typewriter 6s steps(24) infinite  , blink 0.5s 2s step-end infinite ;
    }
    @keyframes typewriter{
      0%{
          @apply w-0
      }
      50%{
        @apply w-full
      }
      80%{
        @apply w-full
      }
      100%{
        @apply w-0
      }
    }
    @keyframes blink {
      50% {
        @apply border-transparent
      }
    }

}

.glass{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }


 /* swipe pagination  */

 .swiper-pagination .swiper-pagination-bullet{
   @apply !bg-slate-50 opacity-60 w-[6px] h-[6px]
 }
 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
   @apply !opacity-100
 }
 .swiper-pagination.swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active-next,
 .swiper-pagination.swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active-prev
 {
  @apply scale-[0.833333]
 }
 .swiper-pagination.swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next,
 .swiper-pagination.swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev
 {
   @apply scale-[0.66667]
 }

 
 
 /* hide swiper button  */
 .swiper-button-prev {
   display:none !important;
 }

 .swiper-button-next {
  display:none !important;
}

.FlexView .mySwiper  {
  touch-action: manipulation ;
}